body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#sand img {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#reefs img {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#openedbox img {
    position: absolute;
    margin-left: 85vw;
    width: 15vw;
    height: 20vh;
    opacity: 0.8;
}

#track-clicks span {
    font-size: 75pt;
    position: absolute;
    margin-top: 5vh;
    margin-left: 89vw;
}

header {
    font-size: 75pt;
    position: absolute;
    margin-top: 5vh;
    margin-left: 92vw;
    
}

#fish {
    width: 150px;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

#fish img {
    width: 100%;
    display: block;
    position: absolute;

}

#button {
    clip-path: circle(100px at 100px 100px);
    display: block;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: brown;
}

#button img {
    position: absolute;
    left: 100px;
    top: 300px;
}

