body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#sand img {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#reefs img {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#clip-path img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    clip-path: circle(10% at 10% 10%);
}

#openedbox img {
    position: absolute;
    margin-left: 85vw;
    width: 15vw;
    height: 20vh;
    opacity: 0.8;
}

#track-clicks span {
    font-size: 75pt;
    position: absolute;
    margin-top: 5vh;
    margin-left: 89vw;
}

header {
    font-size: 75pt;
    position: absolute;
    margin-top: 5vh;
    margin-left: 92vw;
    
}

#button img {
    position: absolute;
    margin-right: 100vw;
}

#fish {
    width: 150px;
    position: absolute;
}

#fish img {
    width: 100%;
    display: block;
    position: absolute;
}