body {
    margin: 0;
}

ul, li {
    list-style: none;
    margin-left: 7vw;
    margin-top: 7vh;
    padding: 0;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    text-decoration: underline;
}

#carousel-list {
    position: relative;
    margin: auto;
    width: 70vw;
    height: 50vh;
    /* transition: opacity 0.5s white; */
}

#carousel-list img {
    width: 100%;
}

#carousel-list li {
    position: absolute;
    width: 80%;
}

#carousel-controls {
    position: relative;
    margin: 15vh auto 0;
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

#carousel-list li:nth-child(1) {
    opacity:1;
}

