@font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra Light';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Extra Light'), url('ITCAvantGardeStdXLt.woff') format('woff');
}
@font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra Light Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Extra Light Oblique'), url('ITCAvantGardeStdXLtObl.woff') format('woff');
}
@font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Medium'), url('ITCAvantGardeStdMd.woff') format('woff');
}
@font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Medium Oblique'), url('ITCAvantGardeStdMdObl.woff') format('woff');
}
@font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Demi'), url('ITCAvantGardeStdDemi.woff') format('woff');
}
@font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold'), url('ITCAvantGardeStdBold.woff') format('woff');
}

html, body {
    scroll-behavior: smooth;
    background: white;
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgb(175, 173, 222) 100%); */
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgb(207, 244, 255) 100%); */
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgb(232, 232, 232) 100%); */
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgb(207, 221, 255) 100%); */
    margin: 0;
    font-family: 'ITC Avant Garde Gothic Std Extra Light', 'ITC Avant Garde Gothic Std Medium', 'ITC Avant Garde Gothic Std Demi', 'ITC Avant Garde Gothic Std Bold', Verdana, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: rgb(23, 23, 23);
    text-decoration: none;
}

header {
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
}
#gif {
    position: relative;
    width: 100%;
    object-fit: cover;
}
/* .line {
    border-width: 0px 0px 3px;
    border: solid white;
    padding: 40rem;
    display: inline-block;
    position: absolute;
    left: 14%;
} */
/* #line1 {
    transform: rotate(50deg);
    top: -9rem;
}
#line2 {
    transform: rotate(70deg);
    top: -20rem;
}
#line3 {
    transform: rotate(-50deg);
    top: -9rem;
}
#line4 {
    transform: rotate(-70deg);
    top: -20rem;
} */
.header-text {
    position: absolute;
    font-family: 'ITC Avant Garde Gothic Std Extra Light';
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header-h1 {
    color: white;
    text-shadow: 0px 4px 8px rgb(143, 143, 143, 0.8);
    font-size: 130pt;
    font-weight: lighter;
    top: 18rem;
}
#header-p {
    color: black;
    font-size: 16pt;
    top: 36rem;
}

.arrow {
    cursor: pointer;
}
/* #arrow-goDown {
    border: solid rgb(143, 143, 143);
    background: rgb(143, 143, 143);
    padding: 0.5rem;
    border-radius: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    left: 49.5%;
    top: 50rem;
    transition: all 0.7s ease-in-out;
}
#arrow-goDown:hover {
    border: solid rgb(143, 143, 143);
    background: none;
    padding: 1rem;
    left: 49%;
    top: 49rem;
    border-radius: 0%;
    border-width: 0 3px 3px 0;
    transform: rotate(405deg);
    -webkit-transform: rotate(405deg);
} */
#arrow-goDown {
    border: solid rgb(143, 143, 143);
    padding: 1rem;
    transform: rotate(45deg);
    float: right;
    position: fixed;
    top: 50%;
    right: 3rem;
    transition: all 1s ease-in-out;
    z-index: 10;
}
#arrow-goDown:hover {
    border: solid rgb(143, 143, 143);
    border-width: 0 2px 2px 0;
    transform: rotate(405deg);
}
#arrow-goUp {
    border: solid rgb(143, 143, 143);
    padding: 1rem;
    transform: rotate(45deg);
    float: right;
    position: fixed;
    bottom: 50%;
    right: 3rem;
    transition: all 1s ease-in-out;    
}
#arrow-goUp:hover {
    border: solid rgb(143, 143, 143);
    border-width: 2px 0 0 2px;
    transform: rotate(-315deg);
}

#logo img {
    float: left;
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 5%;
    transition: all 3s ease-in-out;
    z-index: 10;
}
#nav-logo img:hover {
    transform: rotate(365deg);
    -webkit-transform: rotate(365deg);
}
nav {
    float: right;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 10;
}
nav ul {text-align: right;}
nav li {margin-bottom: 2rem;}
#aboutContact {
    float: right;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 10;
}

a.show {
    font-size: 13pt;
    text-transform: uppercase;
    font-family: 'ITC Avant Garde Gothic Std Extra Light';
    transition: all 0.5s ease-in-out;
    color: black;
}
a.show:hover {
    letter-spacing: 4pt;
}
a.show:focus,
a.show.active {
    font-family: 'ITC Avant Garde Gothic Std Medium';
    letter-spacing: 4pt;
}

section {
    position: relative;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    /* padding: 5rem;
    box-shadow: 0 0 1rem 0 rgba(148, 148, 148, 0.3); 
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3rem);
    border-radius: 1rem; */
}
.bottomSpace {
    margin-bottom: 10rem;
}
#featuredWork-gallery img {
    display: block;
    width: 50%;
    height: 100%;
    margin: auto;
    transition: all 0.5s ease-in-out;
}
#featuredWork-gallery img:hover {
    opacity: 0.7;
}
.descriptionContainer {
    font-size: 16pt;
    line-height: 23pt;
    width: 70%;
    margin: 5% auto;
}
h4 {
    font-family: 'ITC Avant Garde Gothic Std Extra Light Oblique';
}
p {
    font-family: 'ITC Avant Garde Gothic Std Extra Light';
}
.italicise {
    font-family: 'ITC Avant Garde Gothic Std Extra Light Oblique';
}


#about {
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* grid-auto-rows: minmax(5rem, 10rem); */
    grid-gap: 3rem;
    justify-items: stretch;
    box-sizing: border-box;
    position: relative;
}
#about-1 {grid-column: 1/2; grid-row: 1/5;}
#about-2 {grid-column: 2/3; grid-row: 1/3;}
#aabout-3 {grid-column: 2/3; grid-row: 3/4;}
#aabout-3 {grid-column: 2/3; grid-row: 4/5;}
#about-1 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h3 {
    font-size: 16pt;
    letter-spacing: 4pt;
    text-transform: uppercase;
    font-family: 'ITC Avant Garde Gothic Std Medium';
    margin-bottom: 1rem;
}
main p {
    font-size: 16pt;
}
.icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(5rem, 1rem);
    grid-gap: 1rem;
    width: 80%;
    justify-items: stretch;
    box-sizing: border-box;
}
.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#contact h3 {
    margin-bottom: 3rem;
}

#moreWork-bottom {
    float: center;
    position: relative;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-left: 44%;
    padding-right: 44%;
}
h4 {
    font-size: 13pt;
    text-transform: uppercase;
    text-decoration: underline;
    color: black;
    font-family: 'ITC Avant Garde Gothic Std Extra Light';
    transition: all 0.5s ease-in-out;
}
h4:hover {
    font-family: 'ITC Avant Garde Gothic Std Extra Light';
    letter-spacing: 4pt;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.gallery-column {
    flex: 50%;
    max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.gallery-column {
    flex: 100%;
    max-width: 100%;
}
}