body {
    background: white;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#blue-bar {
    position: absolute;
    display: block;
    background: rgb(39, 46, 70);
    width: 3.5vw;
    height: 100vh;
    z-index: 5;
}

#whitecolumn {
    position: absolute;
    display: block;
    width: 24.5vw;
    height: 100vh;
    border: solid 1px rgb(218, 221, 224);
    background-color: white;
    overflow: scroll;
    z-index: 3;
}

#whitepadding {
    position: absolute;
    width: 21vw;
    height: 7vh;
    background:white;
    margin-left: 3.5vw;
    z-index: 4;
}

#search-bar {
    position: absolute;
    border-radius: 5px;
    width: 18vw;
    height: 4vh;
    background: rgb(238, 238, 238);
    margin-top: 2vh;
    margin-left: 5vw;
    z-index: 4;
}

form {
    position: absolute;
    margin-top: 2.9vh;
    margin-left: 5.5vw;
    z-index: 5;
}

#circle {
    position: absolute;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background:rgb(194, 194, 194);
    margin-top: 8vh;
    margin-left: 4.4vw;
    z-index: 5;
}

#selfprofile {
    position: absolute;
    width: 24.5vw;
    height: 7vh;
    background: rgb(238, 238, 238);
    list-style: none;
    margin-top: 7vh;
    z-index: 4;
}

#favorites-bar {
    position: absolute;
    width: 21.5vw;
    height: 4vh;
    background: white;
    margin: 14vh 0 1vh 3vw;
    z-index: 4;
}

#groups-bar {
    position: absolute;
    width: 21.5vw;
    height: 4vh;
    background: white;
    margin: 44.5vh 0 1vh 3vw;
    z-index: 4;
}

#friends-bar {
    position: absolute;
    width: 21.5vw;
    height: 4vh;
    background: white;
    margin: 62vh 0 1vh 3vw;
    z-index: 4;
}

p {
    position: sticky;
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: lighter;
    color: rgb(122, 122, 122);
    padding-left: 1.3vw;
    padding-top: 0.5vh;
}

.circle {
    position: relative;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background:rgb(194, 194, 194);
    list-style: none;
    margin-bottom: 1.5vh;
    margin-left: 1.3vw;
    z-index: 2;
    overflow: auto;
}

#converseationbox {
    margin-left: 24.5vw;
    background: white;
    width: 75.5vw;
    height: 100vh;
}

h1 {
    text-align: center;
    padding-top: 55vh;
    font-family: sans-serif;
    font-size: 10pt;
    font-weight: lighter;
    color: rgb(122, 122, 122);
}

a {
    position: absolute;
    font-family: sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: rgb(122, 122, 122);
    margin-top: 45vh;
    margin-left: 30.5vw;
    z-index: 6;
}

/* Tablet */
@media (max-width: 1024px) {

    #blue-bar {
        position: absolute;
        display: block;
        background: rgb(39, 46, 70);
        width: 6vw;
        height: 100vh;
        z-index: 5;
    }

    #converseationbox {
        margin-left: 33vw;
        background: white;
        width: 75.5vw;
        height: 100vh;
    }

    #search-bar {
        position: absolute;
        border-radius: 5px;
        width: 30vw;
        height: 4vh;
        background: rgb(238, 238, 238);
        margin-top: 2vh;
        margin-left: 8vw;
        z-index: 4;
    }

    form {
        position: absolute;
        margin-top: 3vh;
        margin-left: 9vw;
        z-index: 5;
    }

    #whitecolumn {
        position: absolute;
        width: 35vw;
        height: 100vh;
        border: solid 1px rgb(218, 221, 224);
        background-color: white;
        margin-left: 5vw;
        overflow: scroll;
        z-index: 3;
    }

    #selfprofile {
        position: absolute;
        width: 35vw;
        height: 7vh;
        background: rgb(238, 238, 238);
        list-style: none;
        margin-top: 7vh;
        z-index: 4;
    }

    #favorites {
        position: absolute;
        width: 35vw;
        height: 7vh;
        background: white;
        margin-top: 14vh;
        margin-left: 3.5vw;
        z-index: 4;
    }
    
    #groups {
        position: absolute;
        width: 35vw;
        height: 7vh;
        background: white;
        margin-top: 44.5vh;
        margin-left: 3.5vw;
        z-index: 4;
    }
    
    #friends {
        position: absolute;
        width: 35vw;
        height: 7vh;
        background: white;
        margin-top: 62vh;
        margin-left: 3.5vw;
        z-index: 4;
    }

    a {
        position: absolute;
        font-family: sans-serif;
        font-size: 20pt;
        font-weight: bold;
        color: rgb(122, 122, 122);
        margin-top: 45vh;
        margin-left: 26vw;
        z-index: 6;
    }
}

/* Mobile */
@media (max-width: 768px) {

    #blue-bar {
        position: absolute;
        display: block;
        background: rgb(39, 46, 70);
        width: 10vw;
        height: 100vh;
        z-index: 5;
    }

    #search-bar {
        position: absolute;
        border-radius: 5px;
        width: 80vw;
        height: 4vh;
        background: rgb(238, 238, 238);
        margin-top: 2vh;
        margin-left: 13vw;
        z-index: 4;
    }

    form {
        position: absolute;
        margin-top: 3vh;
        margin-left: 15vw;
        z-index: 5;
    }

    #converseationbox {
        margin-left: 24.5vw;
        background: white;
        width: 0;
        height: 100vh;
    }

    #whitecolumn {
        position: absolute;
        width: 768px;
        height: 100vh;
        border: solid 1px rgb(218, 221, 224);
        background-color: white;
        margin-left: 9vw;
        overflow: scroll;
        z-index: 3;
    }

    #selfprofile {
        position: absolute;
        width: 768px;
        height: 7vh;
        background: rgb(238, 238, 238);
        list-style: none;
        margin-top: 7vh;
        z-index: 4;
    }

    #favorites {
        position: absolute;
        width: 768px;
        height: 7vh;
        background: white;
        margin-top: 14vh;
        margin-left: 3.5vw;
        z-index: 4;
    }
    
    #groups {
        position: absolute;
        width: 768px;
        height: 7vh;
        background: white;
        margin-top: 44.5vh;
        margin-left: 3.5vw;
        z-index: 4;
    }
    
    #friends {
        position: absolute;
        width: 768px;
        height: 7vh;
        background: white;
        margin-top: 62vh;
        margin-left: 3.5vw;
        z-index: 4;
    }
}