body {
    background: rgb(253, 255, 138);
    margin: 4vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#home-button img {
    position: absolute;
    width: 3.7vw;
    height: 6.5vh;
}

h1 {
    padding-left: 5vw;
    font-size: 50pt;
    display: inline;
    color: rgb(72, 236, 209);
}

h2 {
    padding-left: 1.5vw;
    font-size: 20pt;
    display: inline;
    font-weight: normal;
    color: rgb(72, 236, 209);
}

a {
    color: rgb(255, 76, 52);
    font-size: 13pt;
    text-decoration: none;
    margin-bottom: 1vh;
}

nav {
    position: relative;
    padding-left: 73vw;
    margin-top: -4.5vh;
}

nav a {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 3vw;
}

ul,li {
    display: inline-block;
}

#drop {
    position: relative;
    background:  rgba(72, 236, 209, 0.363);
    padding-bottom: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: none;
}

#hover:hover #drop {
    display: block;
}

h5 {
    color: gray;
    font-size: 13pt;
    margin-bottom: 0.5vh;
}

section {
    position: relative;
    text-align: center;
    margin-top: 8vh;
    color: gray;
}

h3 {
    font-size: 13pt;
}

p {
    font-size: 13pt;
    padding-left: 25vw;
    padding-right: 25vw;
}

#arrows {
    margin-top: -7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#prev-arrow {
    background: transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid rgb(255, 76, 52);
}

#next-arrow {
    background: transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-left: 30px solid rgb(255, 76, 52);
}

main {
    position: relative;
    margin-top: 4vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    list-style: none;
    margin: auto;
}

.gallery li {
    position: relative;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 6vh 2vw 2vh 0vw;
}

img {
    display: block;
    width: 30vw;
    height: 40vh;
    object-fit: contain;
}

.hover-opacity:hover {
    opacity: 0.5;
    transition: .5s all ease-out;
}

header {
    font-family: 'century gothic';
    font-size: 20pt;
    text-align: center;
    position: relative;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

/* Tablet */
@media (max-width: 1024px) {
    h1 {
        font-size: 40pt;
        margin-left: 1vw;
    }

    h2 {
        font-size: 20pt;
    }

    #home-button img {
        width: 6.5vw;
        height: 6vh;
        margin-left: -2vw;
    }
    
    a {
        font-size: 12pt;
    }

    #drop a {
        margin-left: -2vw;
        margin-right: 1vw;
    }

    h5 {
        font-size: 10pt;
        margin-left: -2vw;
    }

    .gallery li {
        width: 60vw;
        height: 40vh;
        padding: 2vh 1vw 5vh 1vw;
    }

    img {
        width: 60vw;
        height: 40vh;
    }
}

/* Mobile */
@media (max-width: 768px) {
    h1 {
        font-size: 27pt;
        margin-left: 2vw;
    }

    h2 {
        font-size: 13pt;
    }

    #home-button img {
        width: 7vw;
        height: 4.5vh;
        margin-left: -2vw;
    }
    
    a {
        font-size: 8pt;
    }

    #drop a {
        margin-left: -5vw;
    }

    h5 {
        font-size: 5pt;
        margin-left: -5vw;
    }

    .gallery li {
        width: 60vw;
        height: 30vh;
        padding: 2vh 1vw 4vh 1vw;
    }

    img {
        width: 60vw;
        height: 30vh;
    }
}