body {
    background: rgb(253, 255, 138);
    margin: 4vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#home-button img {
    position: absolute;
    width: 3.7vw;
    height: 6.5vh;
}

h1 {
    padding-left: 5vw;
    font-size: 50pt;
    display: inline;
    color: rgb(49, 211, 240);
}

h2 {
    padding-left: 1.5vw;
    font-size: 20pt;
    display: inline;
    font-weight: normal;
    color: rgb(49, 211, 240);
}

nav {
    position: relative;
    width: 100%;
    padding: 0vh 0vw 2vh 80vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

a {
    color: rgb(255, 76, 52);
    font-size: 13pt;
    text-decoration: none;
}

main {
    position: relative;
    margin: 10vh 10vw auto 10vw; 
}

h4 {
    color: rgb(255, 76, 52);
    font-size: 20pt;
}

p {
    font-size: 15pt;
}