body {
    background: rgb(253, 255, 138);
    margin: 4vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#home-button img {
    position: absolute;
    width: 3.7vw;
    height: 6.5vh;
}

h1 {
    padding-left: 5vw;
    font-size: 50pt;
    display: inline;
    color: rgb(72, 236, 209);
}

h2 {
    padding-left: 1.5vw;
    font-size: 20pt;
    display: inline;
    font-weight: normal;
    color: rgb(72, 236, 209);
}

h5 {
    color: gray;
    font-size: 13pt;
    line-height: 0;
}

a {
    color: rgb(255, 76, 52);
    font-size: 13pt;
    text-decoration: none;
}

nav {
    position: relative;
    padding-left: 73vw;
}

nav a {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 3vw;
}

ul,li {
    display: inline-block;
}

#drop {
    position: relative;
    background:  rgba(72, 236, 209, 0.363);
    padding-bottom: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: none;
}

#hover:hover #drop {
    display: block;
}

main {
    position: relative;
    width: 100%;  
}

#slideshow {
    position: absolute;
    width: 100%;
    margin: auto;
    /* transition: opacity 0.5s white; */
    /* opacity: 0.5;
    transition: .5s all ease-out; */
}

#slideshow li {
    position: absolute;
    margin: auto;
    list-style: none;
}

#slideshow img {
    position: relative;
    width: 50%;
    margin-top: 5vh;
    margin-left: 22vw;
}

#slide-controls {
    position: absolute;
    margin-top: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    font-size: 20pt;
    color: rgb(255, 76, 52);
}

#slideshow li:nth-child(1) {
    opacity:1;
}

/* Tablet */
@media (max-width: 1024px) {
    a {
        font-size: 10pt;
    }

    h1 {
        font-size: 60pt;
    }

    h2 {
        font-size: 30pt;
    }

    img {
        flex-basis: 10%;
        width: 60vw;
        height: 40vh;
        margin-left: 15%;
    }

    h3 {
        font-size: 30pt;
    }

    p {
        font-size: 15pt;
    }
}

/* Mobile */
@media (max-width: 768px) {
    a {
        font-size: 7pt;
    }

    h1 {
        font-size: 40pt;
    }

    h2 {
        font-size: 20pt;
    }

    img {
        flex-basis: 10%;
        width: 75vw;
        height: 30vh;
        margin-left: 8%;
    }

    h3 {
        font-size: 20pt;
    }

    p {
        font-size: 10pt;
    }
}