body {
    background: rgb(253, 255, 138);
    margin: 4vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#home-button img {
    position: absolute;
    width: 3.7vw;
    height: 6.5vh;
    object-fit: contain;
}

h1 {
    padding-left: 5vw;
    font-size: 50pt;
    display: inline;
    color: rgb(72, 236, 209);
}

h2 {
    padding-left: 1.5vw;
    font-size: 20pt;
    display: inline;
    font-weight: normal;
    color: rgb(72, 236, 209);
}

h5 {
    color: gray;
    font-size: 13pt;
    margin-bottom: 1vh;
    margin-left: -1vw;
}

a {
    color: rgb(255, 76, 52);
    font-size: 13pt;
    text-decoration: none;
    margin-bottom: 1vh;
}

nav {
    position: relative;
    padding-left: 73vw;
    margin-top: -4.5vh;
}

nav a {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 3vw;
}

ul,li {
    display: inline-block;
}

#drop {
    position: relative;
    background:  rgba(72, 236, 209, 0.363);
    padding-bottom: 2vh;
    margin-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: none;
}

#hover:hover #drop {
    display: block;
}

main {
    position: relative;
    width: 100%; 
    height: 50%;
}

#slideshow {
    position: absolute;
    width: 100%;
    margin: auto;
}

#slideshow li {
    position: absolute;
    margin: auto;
    list-style: none;
}

#slideshow img {
    position: relative;
    width: 65%;
    margin-top: 10vh;
    margin-left: 15vw;
}

#slide-controls {
    position: absolute;
    margin-top: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    font-size: 20pt;
    color: rgb(255, 76, 52);
}

#slideshow li:nth-child(1) {
    opacity:1;
}

/* Tablet */
@media (max-width: 1024px) {
    h1 {
        font-size: 40pt;
        margin-left: 1vw;
    }

    h2 {
        font-size: 20pt;
    }

    #home-button img {
        width: 6.5vw;
        height: 6vh;
        margin-left: -2vw;
    }
    
    a {
        font-size: 12pt;
    }

    #drop a {
        margin-left: -2vw;
        margin-right: 1vw;
    }

    h5 {
        font-size: 10pt;
        margin-left: -2vw;
    }

    #slide-controls {
        margin-top: 30vh;
    }
    
    button {
        font-size: 12pt;
    }
}

/* Mobile */
@media (max-width: 768px) {
    h1 {
        font-size: 27pt;
        margin-left: 2vw;
    }

    h2 {
        font-size: 13pt;
    }

    #home-button img {
        width: 7vw;
        height: 4.5vh;
        margin-left: -2vw;
    }
    
    a {
        font-size: 8pt;
    }

    #drop a {
        margin-left: -5vw;
    }

    h5 {
        font-size: 5pt;
        margin-left: -5vw;
    }

    #slideshow img {
        margin-top: 20vh;
    }

    #slide-controls {
        margin-top: 50vh;
    }
    
    button {
        font-size: 10pt;
    }
}